#mainInput{
  width:100%;
  margin: 0px auto;
}

#mainButton{
  display: block;
  margin: 10px auto;
}

footer{
  width:100%;
  position: relative;
  height: 60px;
  color: black;
  opacity: 90%;
}

body{
  /*background-image: url(img/grey-7.jpg);*/
  background-color: #f7f7f7;
  height: 100%;
  font-family: 'Abhaya Libre';font-size: 22px;

}

.responseText>p{
  color: black;
  font-size: 3em;
}

.jumbotron{
  margin-top: 3em;
  background-color: #C0C0C0;
  border: 2px solid black;
  font-family: serif;
}

/*canvas{
  width: 400px;
  height: 400px;
}*/
